.DS_Store
node_modules/
/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
/build.bat
/install-cnmp.bat
/install.bat
/npm公司库.bat
/npm库.bat
/pull.bat
/start.bat
