/* 查询框与表单的间隔 */
.toolbar .el-form-item--mini.el-form-item,.el-form-item--small.el-form-item {
    margin-bottom: 8px;
}
.toolbar .el-form .el-form-item--mini.el-form-item, .el-form-item--small.el-form-item {
  margin-bottom: 8px;
}
.el-form-item--mini.el-form-item,.el-form-item--small.el-form-item {
  margin-bottom: 8px;
}
.el-table__footer-wrapper tbody td.el-table__cell,
.el-table__header-wrapper tbody td.el-table__cell {
 color: #000;
 font-size: 14px;
}
  .separator{
    line-height: 25px;
  }
.el-table__fixed-footer-wrapper tbody td.el-table__cell{
   color: #000;
   font-size: 14px;
}
/* 内容页面高度设置 */
.indexContent{
  height: calc(100% - 41px);
  overflow-y:auto;	
}
/* 顶部查询条件 */
.keyword-input {
  width: 210px !important;
  margin-right: 10px;
  margin-left: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.keyword-input .el-input__inner {
  height: 30px;
  line-height: 30px;
}
.keyword-input .el-input__icon {
  line-height: 30px;
}

/* dw */
/* 公共legend标签 */
.common-legend {
    width: 100%;
    background: #f5f5f5;
    font-weight: 700;
    font-size: 12px;
    padding: 5px 20px;
    font-size: 14px;
    margin-bottom: 5px;
  }
/* 公共自适应 */
.common-bdiv{
    height: 100%;
    width: 100%;
    margin: 0 auto;
    overflow-y:scroll;
}

/*公共编辑页面得高度自适应 */
.common-editDiv{
  height: calc(100% - 41px);
  overflow-y:scroll;	
}

/* 公共弹出框 table */
.common-diaTab{
  padding: 0px 10px;
  width: calc(100% - 20px);
}
.common-diaTab .block{
  text-align: right;
  padding:10px 0px;
}

/* 基础信息-水精灵管理 */
.water-manage {
  width: 100%;
  height: 100%;
}
.water-manage .lineForm {
  width: 60%;
  margin: 20px auto;
  height: calc(100% - 81px);
}
.water-manage .lineForm .el-form-item .el-form-item__content {
  width: calc(100% - 100px);
}
.water-manage .lineForm .el-input {
  width: 19%;
}

/* dyk */
/* 启动扫描仪按钮 */
#app .scanning-btn{
  background: #409eff;
  color: #fff;
}

/* dyk */
/* 工具栏占位 */
.toolbar { 
  padding: 10px 20px;
  min-height: 40px;
}
/* 工具栏 左侧 */
.toolbar .form-left {
  float: left;
  margin-bottom: 0px;
}
/* 工具栏 右侧 */
.toolbar .form-right {
  float: right;
  margin-bottom: 0px;
  margin-right: 0px;
}
/* 工具栏 副标题 竖杆 */
.toolbar .toolbar-line {
  width: 4px;
  background: #c4d600;
  border-radius: 4px;
  height: 18px;
  display: inline-block;
  vertical-align: middle;
}
/* 工具栏 副标题 title */
.toolbar .toolbar-font {
  font-weight: 700;
  font-size: 16px;
  height: 19px;
  display: inline-block;
  line-height: 19px;
  vertical-align: middle;
}
/* 工具栏 副标题 title 子标题 */
.toolbar .toolbar-fontSon {
  font-size: 14px;
  height: 19px;
  display: inline-block;
  line-height: 19px;
  vertical-align: middle;
}
/* 工具栏 高级查询  dw*/
.toolbar .soce-query{
  background:white;
  color:#3193F6;
  font-size:.12rem;
  font-size: 12px\0;
}

.toolbar .el-select .el-input--mini .el-input__inner {
  width: 120px;
  padding-right: 0;
  /* font-size: 12px; */
  font-size: 14px;
  color: #000;
}

.toolbar .el-date-editor {
  width: 300px;
}

/* 副标题栏 */
.legendColumn {
  width: 100%;
  background: #efefef;
  font-weight: 700;
  padding: 5px 20px;
  font-size: 14px;
  margin-bottom: 5px;
}

/* 表格 */
.kl-table {
  padding: 0 20px; 
}
.kl-table .cell > span{
  color: rgb(240, 240, 240);
}

/* 可点击字体样式 */
.kl-table .focus {
  color: #3195f4 !important;
  cursor: pointer;
}
/* 按钮添加行样式 */
.kl-table .add-line {
  float: right;
  margin-bottom: 0.2rem;
}
/* 行选中高亮颜色 */
.kl-table .el-table .el-table__body-wrapper .el-table__body .current-row>td{
  background-color: #b9d9dca8 !important;
}
/* 表格td 边距为0 */
.kl-table .el-table .el-table__body-wrapper .el-table__row>td{
  padding: 0px;
}
.el-table__row td{
  padding: 0px !important;
}


/* 分页 */
.block {
  text-align: right;
  padding: 10px 20px;
  
}

/* 面包屑 */
#app .bread-contain {
  width: calc(100% - 10px);
  height: 40px;
  zoom: 1;
  border-bottom: 1px solid #eaf4ff;
}
#app .bread-contain .bread-contain-right {
  float: right;
  width: 50%;
  text-align: right;
  line-height: 40px;
}
#app .bread-contain #crumbs {
  float: left;
  width: 40%;
  padding-right: 0px;
}
#app .bread-contain .bread-contain-right .upload-demo {
  display: inline-block;
}
#app .bread-contain .bread-contain-right .upload-demo ul {
  display: none;
}
/*  面包屑最后一个元素 */
.el-breadcrumb__item:last-child > .el-breadcrumb__inner {
  font-weight: bolder;
}

/* 查询框表单 */ 
/* 100px日期框 */
.width-100 > .el-form-item__content .el-date-editor{
  width: 100px !important;
}
/* 100px下拉框、输入框 */
.width-100 .el-input--mini .el-input__inner{
  width: 100px !important;
}
.width-80 .el-input--mini .el-input__inner{
  width: 80px !important;
}
/* 150px日期框 */
.width-150 > .el-form-item__content .el-date-editor{
  width: 150px !important;
}
/* 150px下拉框、输入框 */
.width-150 .el-input--mini .el-input__inner{
  width: 150px !important;
}

/* 200px日期框 */
.width-200 > .el-form-item__content .el-date-editor{
  width: 200px !important;
}
/* 200px下拉框、输入框 */
.width-200 .el-input--mini .el-input__inner{
  width: 200px !important;
}

/* 250px日期框 */
.width-250 > .el-form-item__content .el-date-editor{
  width: 250px !important;
}
/* 250px下拉框、输入框 */
.width-250 .el-input--mini .el-input__inner{
  width: 250px !important;
}

/* 350px日期框 dyk*/
.width-350 > .el-form-item__content .el-date-editor{
  width: 350px !important;
}
/* 350px下拉框、输入框 dyk*/
.width-350 .el-input--mini .el-input__inner{
  width: 350px !important;
}

/* 添加-编辑表单 */
/* 一行四格 */
/* .formBill {
  height: 100%;
  overflow-y: auto;
} */
.formBill #firstNav .top {
  height: 68px;
}
.formBill .el-form-item {
  width: 23%;
  margin-bottom: 15px !important;
}
/* 加粗 */
.formBill .Thickening .el-form-item__label{
  font-weight: 900;
}
/* input 内按钮 input宽度设置 */
.formBill .buttonItem .el-form-item__content .el-input{
  width: calc(100% - 60px) !important;
}
/* input 内按钮 button宽度设置 */
.formBill .buttonItem .el-form-item__content .el-button{
  width: 55px !important;
}
/* 高亮重点字段 */
.formBill .Thickening .el-form-item__content .el-input .el-input__inner{
  border: 1px solid #409eff7a;
}
.formBill .el-form-item .el-form-item__content{
  width: calc(100% - 130px);
  /* font-size: 12px; */
    font-size: 14px;
}
.formBill .el-form-item .el-form-item__content .el-select{
  width: 100%;
}
.formBill .el-form-item .el-form-item__content .el-cascader{
  width: 100%;
}
.formBill .el-form-item .el-form-item__content .el-radio__label{
  /* font-size: 12px; */
    font-size: 14px;
}
.formBill .el-form-item .el-input {
  height: 30px;
  width: 100% !important;
}
.formBill .el-form-item .el-input__inner {
  height: 30px;
  width: 100% !important;
  /* font-size: 12px; */
   font-size: 14px;
  color:#000;
}
.formBill .CheckGroup {
  width: 47%;
}
.formBill .kl-table {
  padding: 10px;
}


.formBill .Remarks { width: 50%; }
.formBill .Remarks  .el-form-item__content {  width: calc(100% - 130px);}
/* 一行三格 */
/* .formBill-Three {
  height: 100%;
  overflow-y: auto;
} */
.formBill-Three #firstNav .top {
  height: 68px;
}
.formBill-Three .el-form-item {
  width: 31%;
  margin-bottom: 15px !important;
}
.formBill-Three .el-form-item .el-form-item__label{
  width: 100px;
  /* font-size: 12px; */
   font-size: 14px;
  color:#000;
}
/* 加粗 */
.formBill-Three .Thickening .el-form-item__label{
  font-weight: 900;
}
/* 高亮重点字段 */
.formBill-Three .Thickening .el-form-item__content .el-input .el-input__inner{
  border: 1px solid #409eff7a;
}
.formBill-Three .el-form-item .el-form-item__content{
  width: calc(100% - 130px);
}
.formBill-Three .el-form-item .el-form-item__content .el-select{
  width: 100%;
}
.formBill-Three .el-form-item .el-form-item__content .el-cascader{
  width: 100%;
}
.formBill-Three .el-form-item .el-form-item__content .el-radio__label{
  font-size: 12px;
}
.formBill-Three .el-form-item .el-input__inner {
  height: 30px;
  width: 100% !important;
  /* font-size: 12px; */
  
}
.formBill-Three .CheckGroup {
  width: 47%;
}
.formBill-Three .kl-table {
  padding: 10px;
}

/* 一行两格 */
/* .formBill-Two {
  height: 100%;
  overflow-y: auto;
} */
.formBill-Two #firstNav .top {
  height: 68px;
}
.formBill-Two .el-form-item {    
  width: 47%;
  float: left;
  margin-bottom: 15px !important;
}
/* 加粗 */
.formBill-Two .Thickening .el-form-item__label{
  font-weight: 900;
}
/* 高亮重点字段 */
.formBill-Two .Thickening .el-form-item__content .el-input .el-input__inner{
  border: 1px solid #409eff7a;
}
.formBill-Two .el-form-item .el-form-item__label{
  width: 100px;
  line-height: 20px;
/* font-size: 12px; */
   font-size: 14px;
  color:#000;
}
.formBill-Two .el-form-item .el-form-item__content{
  width: calc(100% - 100px);
  line-height: 20px;
 /* font-size: 12px; */
   font-size: 14px;
  color:#000;
  /* width: calc(100% - 130px); */
}
.formBill-Two .el-form-item .el-form-item__content .el-select{
  width: 100%;
}
.formBill-Two .el-form-item .el-form-item__content .el-cascader{
  width: 100%;
}
.formBill-Two .el-form-item .el-form-item__content .el-cascader{
  width: 100%;
}
.formBill-Two .el-form-item .el-form-item__content .el-radio__label{
  /* font-size: 12px; */
   font-size: 14px;
  color:#000;
}
.formBill-Two .el-form-item .el-input__inner {
  height: 30px;
  width: 100% !important;
 /* font-size: 12px; */
   font-size: 14px;
  color:#000;
}
.formBill-Two .CheckGroup {
  width: 47%;
}
.formBill-Two .kl-table {
  padding: 10px;
}

/* 一行一格 */
.formBill-One {
  padding-top: 10px;
}
.formBill-One #firstNav .top {
  height: 68px;
}
.formBill-One .el-form-item {
  width: 100%;
  /* padding: 0 23%; */
  margin-bottom: 15px !important;
}
/* 加粗 */
.formBill-One .Thickening .el-form-item__label{
  font-weight: 900;
}
.formBill-One .el-form-item__content .el-input--suffix{
  width: 100% !important;
}
/* 加粗 */
.formBill-One .Thickening .el-form-item__content .el-input .el-input__inner{
  border: 1px solid #409eff7a;
}
.formBill-One .el-form-item .el-form-item__label{
  /* width: 120px; */
  line-height: 30px;
/* font-size: 12px; */
   font-size: 14px;
  color:#000;
}
.formBill-One .el-form-item .el-form-item__content{
  width: calc(100% - 100px);
  line-height: 20px;
/* font-size: 12px; */
   font-size: 14px;
  color:#000;
}
.formBill-One .el-form-item .el-form-item__content .el-select{
  width: 100% !important;
}
.formBill-One .el-form-item .el-form-item__content .el-cascader{
  width: 100%;
}
.formBill-One .el-form-item .el-form-item__content .el-radio__label{
  /* font-size: 12px; */
   font-size: 14px;
  color:#000;
}
.formBill-One .el-form-item .el-input__inner {
  height: 30px;
  width: 100% !important;
 /* font-size: 12px; */
   font-size: 14px;
  color:#000;
}
.formBill-One .CheckGroup {
  width: 47%;
}
.formBill-One .kl-table {
  padding: 10px;
}



/* 单个框的长度需求变化 */
/* 50%长度 */
.lineForm .f2 {
  width: 46.85%;
}
.formBill-One .f2 {
  width: 46.85%;
}
.formBill-Two .f2 {
  width: 46.85%;
}
.formBill-Three .f2 {
  width: 46.85%;
}
.formBill .f2 {
  width: 46.85%;
}
/* .formBill-One,.formBill-Two,.formBill-Three, */
.formBill .f2 .el-form-item__content {
  width: calc(100% - 130px);
}
/* 75%长度 */
.formBill-One .f3 {
  width: 70.7%;
}
.formBill-Two .f3 {
  width: 70.7%;
}
.formBill-Three .f3 {
  width: 70.7%;
}
.formBill .f3 {
  width: 70.7%;
}
/* .formBill-One,.formBill-Two,.formBill-Three, */
.formBill .f3 .el-form-item__content {
  width: calc(100% - 130px);
}
/* 100%长度 */
.formBill-One .f4 {
  width: 94.7%;
}
.formBill-Two .f4 {
  width: 94.7%;
}
.formBill-Three .f4 {
  width: 94.7%;
}
.formBill .f4 {
  width: 94.7%;
}
/* .formBill-One,.formBill-Two,.formBill-Three, */
.formBill .f4 .el-form-item__content {
  width: calc(100% - 130px);
}


/* 带树型结构的页面 */
.company-content {
  height: calc(100% - 41px);
  overflow-y: auto;
  display: flex;
  flex-direction: row;
}
.company-content .company-left {
  width: 18%;
  height: 100%;    
  /* float: left; */
}
.company-content .company-right {
  width: 81%;
  height: 100%;   
  /* float: left; */
}
.company-content .company-right table {
  overflow: scroll;
  width: 100%;
}
.company-content .company-right table thead th {
  width: 10%;
  font-size: 14px;
}
.company-content .company-right table tbody tr {
  margin-top: 1rem;
}
.company-content .company-right table tbody tr td {
  text-align: center;
}
.company-content .company-right table tbody tr td .el-input,.el-select {
  width: 95%;
}

/* 弹出框 */

/* 弹出框标题下边框设置 */
.el-dialog__header {
  border-bottom: 1px solid #efefef;
}
/* 弹出框 标题 字体设置*/
.el-dialog__header .el-dialog__title {
  font-size: 14px;
  font-weight: bold;
}
/* 底部按钮样式 */
.el-dialog__footer {
  text-align: center !important;
  border-top: 1px solid #efefef;
  padding: 5px;
}
/* 不带底部按钮的弹出框 */
.common-dialog > .el-dialog{
  margin: 0 auto;
  width: 80%;
  height: 94%;
  margin-top: 25px !important;
}
.common-dialog .el-dialog__wrapper {
  background: transparent !important;
  padding-top: 5%;
}
.common-dialog .el-dialog__header {
  border-bottom: 1px solid #efefef;
}
.common-dialog .el-dialog__body {
  padding: 0 20px !important;
  height: calc(100% - 65px) !important;
  /* overflow: hidden !important; */
  overflow-y: auto;
}
.common-dialog .el-dialog__body .el-input__inner {
  height: 28px;
  line-height: 28px;
 /* font-size: 12px; */
   font-size: 14px;
  color:#000;
}
.common-dialog .el-dialog__body .el-form-item {
  margin-bottom: 10px;
}

/* 带底部按钮的弹出框 */
.button-dialog .el-dialog{
  margin: 0 auto;
  width: 80%;
  height: 94%;
  margin-top: 25px !important;
}
.button-dialog .el-dialog__wrapper {
  background: transparent !important;
  padding-top: 5%;
}
.button-dialog .el-dialog__header {
  border-bottom: 1px solid #efefef;
}
.button-dialog .el-dialog__body {
  padding: 0 20px;
  height: calc(100% - 100px) !important;
  overflow: hidden !important;
}
.button-dialog .el-dialog__body .el-input__inner {
  height: 28px;
  line-height: 28px;
 /* font-size: 12px; */
   font-size: 14px;
  color:#000;
}
.button-dialog .el-dialog__body .el-form-item {
  margin-bottom: 10px;
}


/* 用户资料弹框 */
.miniDialog .el-dialog {
  width: 60%;
  height: 69%;
}

/* 带右侧进度条的页面 */
.process {
  height: 100%;
}
.process .process-left {
  width: calc(100% - 165px);
  height: 100%;
  overflow-y: auto;
  float: left;
}
.process .process-right {
  width: 150px;
  height: 100%;
  display: inline-block;
  border-left: 10px solid #eaf4ff;
  position: relative;
}
.process .process-right .stepsTitle {
  font-size: 16px;
  margin-left: 10px;
  font-weight: 700;
  color: #4593d8;
  display: inline-block;
}
.process .process-right .line {
  border-bottom: 1px solid #4593d8;
  height: 0;
  font-size: 0;
  overflow: hidden;
  margin: 5px 10px;
}
.process .process-right .el-steps {
  width: calc(100% - 30px);
  height: calc(100% - 80px) !important;
  margin-left: 30px;
}

.el-form .disable-item .el-form-item__content {
  border-bottom: solid 1px #ccc;
  min-height: 28px;
}

.el-form .disable-item .el-form-item__content span {
  word-break: break-all;
  font-size: 14px;
  color: #000;
}

.el-form .disable-item .el-form-item__content div {
  word-break: break-all;
  color: #000;
}

.el-form .disable-item .el-form-item__content div .el-input__inner {
  word-break: break-all;
  color: #000;
}

.el-date-editor .el-range-separator {
  padding: 0 !important;
}

.el-table__row td:not(.is-hidden):last-child, .el-table__header th:not(.is-hidden):last-child{
  right:-1px;
}

.el-select-dropdown.is-multiple .el-select-dropdown__item {
  padding-left: 34px;
}

.el-select-dropdown.is-multiple .el-select-dropdown__item::before {
  width: 14px;
  height: 14px;
  border: solid 1px #DCDFE6;
  border-radius: 2px;
  position: absolute;
  left: 10px;
  top: 9px;
  line-height: 14px;
  padding-left: 1px;
  font-family: element-icons;
  content: "";
  font-size: 12px;
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
  box-sizing: content-box;
}
.el-select-dropdown.is-multiple .el-select-dropdown__item.selected::before {
  content: "\E6DA";
  background-color: #409eff;
  color: #fff;
}

.el-select-dropdown.is-multiple .el-select-dropdown__item.selected::after {
  content: ''
}
.el-textarea__inner{
  font-size: 14px;
  color:#000
}
.el-select .el-tag {
  display: none !important;
}
.el-select .el-tags {
  display: none !important;
}
.el-select .el-input__prefix {
  width: calc(100% - 30px);
  color: #000;
  overflow: hidden;
  text-align: left;
  padding-left: 15px;
  line-height: 30px;
  font-size: 14px;
}

#app .searchBtn {
  background: #faa646;
  color: #fff;
}

section, section div {
  box-sizing: border-box;
}
.fontRight {
  float: right;
  margin: 0 0 10px;
}

.el-checkbox__label {
  /* font-size: 12px; */
    font-size: 14px;
    color: #000;
}

/* 显示所有查询条件 */
.search-container{
  margin-bottom: 16px;
  border-bottom: 1px solid #ebebeb;
  position: relative;
  padding-bottom: 0;
  box-sizing: border-box;
}
.search-up-down--btn {
  width: 56px;
  height: 14px;
  text-align: center;
  position: absolute;
  cursor: pointer;
  box-sizing: border-box;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  bottom: -14px;
  left: 50%;
  transform: translateX(-50%);
  border: 1px solid #cccccc;
}

.files-wrap {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  overflow-y: auto;
}

.files-wrap .file-content {
  width: 200px;
  height: 250px;
  margin: 10px;
  text-align: center;
}

.files-wrap .file-content .filename {
  margin-top: 10px;
}

.files-wrap .file-content .file {
  position: relative;
}

.files-wrap .file-content .file .download {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #fff;
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 5px 0;
}

.files-wrap .file-content .file .remove {
  position: absolute;
  top: -10px;
  right: -10px;
  width: 20px;
  height: 20px;
  font-size: 15px;
  background-color: #606266;
  color: #fff;
  display: none;
}

.files-wrap .file-content .file:hover .remove {
  display: inline-block;
}

.formBill .el-form-item.width450{
  width: 450px;
}

.multiple-floor {
  position: relative;
  width: 100%;
  border-bottom: 1px solid #ccc;
}

.multiple-floor .button-group {
  position: absolute;
  right: 10px;
}

.multiple-floor .toggle-btn {
  position: absolute;
  bottom: -20px;
  left: 50%;
  border: 1px solid #ccc;
  font-size: 14px;
  height: 20px;
  line-height: 20px;
  padding: 0 10px;
  border-radius: 0 0 4px 4px;
}
/* 表格高亮 */
.el-table__body .el-table__row.hover-row td{
  background-color: silver !important;
}